{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Title</title>
    <link rel="stylesheet" href="{% static 'style/core/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'style/core/laksa.css' %}">
    <script src="{% static 'js/jquery-3.2.0.js' %}"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="row line">
                    <div class="col-2"><img src="{% static 'images/core/laksa-logo.png' %}" alt="logo" style="width: 32px; height: 32px;"></div>
                    <div class="col"><span>LAKSA: секрет миллионеров</span></div>
                </div>
                <div class="row line">
                    <div class="col-4" style="padding-top: 6px;"><span>Кто</span></div>
                    <div class="col line">
                        <select name="who-select" class="form-control" id="who-select" onchange="console.log(parseInt($('#who-select').val()))">
                            <option value="1">Маша</option>
                            <option value="2">Саша</option>
                            <option value="-1">...Добавить...</option>
                        </select>
                    </div>
                </div>
                <div class="row line">
                    <div class="col-4" style="padding-top: 6px"><span>На что</span></div>
                    <div class="col">
                        <select name="what-select" id="what-select" class="form-control">
                            <option value="1">Авто. Бензин</option>
                            <option value="2">Авто. Запчасти</option>
                            <option value="3">Продукты</option>
                            <option value="4">Макдоналдс</option>
                        </select>
                    </div>
                </div>
                <div class="row line">
                    <div class="col-4"></div>
                    <div class="col">
                        <input type="button" value="Внести" class="form-control">
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>