{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon shortcut" href="{% static 'images/core/laksa-logo.png' %}">
    <link rel="stylesheet" href="{% static 'style/core/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'style/core/laksa.css' %}">
    <title>LAKSA: просмотр</title>
    <script src="{% static 'js/jquery-3.2.0.js' %}"></script>
</head>
<body>
    <div class="layout" id="app" v-cloak="'...loading...'">
        {% csrf_token %}
        <div class="new-target" v-if="showNewTarget">
            <div class="title">
                Добавить новую цель
            </div>
            <div class="separator separator-1"></div>
            <div>
                <div class="row input-row">
                    <div class="col">
                        <input type="text" class="form-control" id="new-target-value" title="Новая цель">
                    </div>
                </div>
            </div>
            <div class="separator separator-2"></div>
            <div class="row button-row">
                <div class="col"></div>
                <div class="col-4">
                    <div class="button" onclick="submitNewTarget()">OK</div>
                </div>
                <div class="col-4">
                    <div class="button" @click="showNewTarget=false; targetOnChange(targets[0].id)">Отмена</div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="row line header">
                        <div class="col-2"><img src="{% static 'images/core/laksa-logo.png' %}" alt="logo"></div>
                        <div class="col title"><span>LAKSA: секрет миллионеров</span></div>
                    </div>
                    <div class="row line">
                        <div class="col-3" style="padding-top: 15px;"><span>Кто</span></div>
                        <div class="col line">
                            <select name="who-select" class="form-control" id="who-select" v-on:change="authorOnChange">
                                <option v-for="author, author_id in authors" v-bind:value="author.id">[[author.name]]</option>
                                <option value="-1">...Добавить...</option>
                            </select>
                        </div>
                    </div>
                    <div class="row line">
                        <div class="col-3" style="padding-top: 5px;"><span>Когда</span></div>
                        <div class="col line date calendar">
                            <div class="day">
                                <div type="text" name="day" class="form-control num-input"
                                       onclick="$('.all').hide(); $('.all.days').fadeIn(300);">
                                    [[ selectedDay ]]
                                </div>
                                <div class="all days">
                                    <div class="line" v-for="lineNumber in 4">
                                        <div class="one-day" v-for="number in 7" :id="'day-' + ((lineNumber-1)*7 + number)"
                                             @click="selectThisDay((lineNumber-1)*7 + number)"
                                        >[[ (lineNumber-1)*7 + number]]</div>
                                    </div>
                                    <div class="line">
                                        <div class="one-day" v-for="number in 3" :id="'day-' + (28 + number)"
                                             @click="selectThisDay(28 + number)"
                                        >[[ 28 + number]]</div>
                                    </div>
                                </div>
                            </div>

                            <div class="month">
                                <div type="text" name="month" class="form-control num-input"
                                       onclick="$('.all').hide(); $('.all.months').fadeIn(300);">
                                    [[ selectedMonth ]]
                                </div>
                                <div class="all months">
                                    <div class="line" v-for="lineNumber in 3">
                                        <div class="one-day" v-for="number in 4" :id="'month-' + ((lineNumber-1)*4 + number)"
                                             @click="selectThisMonth((lineNumber-1)*4 + number)"
                                        >[[ (lineNumber-1)*4 + number]]</div>
                                    </div>
                                </div>
                            </div>
                            <div class="year">
                                <div type="text" name="year" class="form-control num-input"
                                       onclick="$('.all').hide(); $('.all.years').fadeIn(300);">
                                    [[ selectedYear ]]
                                </div>
                                <div class="all years">
                                    <div class="line" v-for="lineNumber in 3">
                                        <div class="one-year" v-for="number in 4" :id="'year-' + ((lineNumber-1)*4 +2017+number)"
                                             @click="selectThisYear((lineNumber-1)*4 +2017+number)"
                                        >[[ (lineNumber-1)*4 +2017+number]]</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row line">
                        <div class="col-3" style="padding-top: 6px"><span>На что</span></div>
                        <div class="col">
                            <select name="what-select" id="what-select" class="form-control"
                                    v-on:change="targetOnChange">
                                <option v-for="target, target_id in targets" v-bind:value="target.id">[[target.name]]</option>
                                <option value="-1">...Добавить...</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="blank"></div>
                        <div class="last-used-target col-2 form-control" v-for="lu in lastUsedTargets"
                             @click="targetOnChange(lu.id)">
                            [[ lu.name]]
                        </div>
                    </div>
                    <div class="row line">
                        <div class="col-3" style="padding-top: 6px">
                            <span>Сколько</span>
                        </div>
                        <div class="col">
                            <input type="number" name="howmuch" id="how-much" class="form-control">
                        </div>
                    </div>
                    <div class="row line">
                        <div class="col-3"></div>
                        <div class="col">
                            <input type="button" value="Внести" class="form-control" v-on:click="submit">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" v-if="showError">
                <div class="col">
                    <div class="error">[[errorMessage]]</div>
                </div>
            </div>
            <div class="display">
                <div class="row target" v-for="target in spendToday">
                    <div class="name col-6">[[ target.name ]]</div>
                    <div class="value col-6">[[ target.how_much ]]</div>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'js/vue.js' %}"></script>
    <script src="{% static 'js/core/view.js' %}"></script>
</body>
</html>