$color-1: #37DDA0
$color-2: #BEE6CE
$color-3: #BCFFDB
$color-4: #8DFFCD
$color-5: #4F9D69

[v-cloak]
  display: none

.t1-1
  font-size: 24px
.t1-2
  font-size: 20px
.t1-3
  font-size: 18px
.t1-4
  font-size: 16px
.t1-5
  font-size: 14px

.layout
  width: 600px
  position: relative
  margin: auto

.header
  .title
    padding-top: 3px
    margin: 0 15px
  img
    width: 32px
    height: 32px

.footer
  color: gray
  text-align: right


.line
  margin-top: 10px

.error
  color: darkred
  font-size: 1.2em
  padding: 15px
  margin: 10px
  border: 1px solid darkred
  text-align: center
  border-radius: 5px

.button
  text-align: center
  border: 1px solid lightgray
  border-radius: 3px
  padding: 5px 0

.separator
  width: 100%
  height: 3px
  background: lightgray
.separator-1
  margin: 20px 0 10px 0
.separator-2
  margin: 10px 0 20px 0
.input-row
  margin: 0 15px
.button-row
  padding: 0 15px 15px 0


.new-target
  border: 1px solid lightgray
  border-radius: 5px
  margin: 15px
  position: absolute
  top: 0
  z-index: 10
  background: white
  //width: calc(100% - 30px)
  box-sizing: border-box
  max-width: 760px
  .title
    margin: 10px 0 0 15px

.calendar.date
  display: flex
  margin: 0
  .all
    position: absolute
    z-index: 1
    background: white
    border: 1px solid $color-1
    margin: 5px 0 0 0
    display: none
  .all.days
    user-select: none
  .day
    flex-grow: 1
    flex-basis: 0
    padding-right: 5px
    input
      display: block
      width: calc(100% - 10px)
  .month
    flex-grow: 1
    flex-basis: 0
    display: block
    padding: 0 2px
    input
      display: block
      width: calc(100% - 10px)
  .year
    flex-grow: 1
    flex-basis: 0
    display: block
    padding-left: 5px
    input
      display: block
      width: calc(100% - 10px)
  .line
    display: flex
    margin: 0
    .one-day
      border: 1px solid #000
      width: 30px
      text-align: center
      background: $color-3
      margin: 3px
      cursor: default
      &:hover
        background: $color-4
    .one-day.selected
      background: $color-5
    .one-year
      border: 1px solid #000
      width: 70px
      text-align: center
      background: $color-3
      margin: 3px
      cursor: default
      &:hover
        background: $color-4
    .one-year.selected
      background: $color-5

.blank
  width: 165px

.last-used-target
  flex-basis: 0
  flex-grow: 1
  margin: 10px 5px 0 0
  overflow: hidden
  white-space: nowrap
  &:last-child
    margin: 10px 0 0 0
